core:
  output: m3u
  auto_reload_config: true
  canonicalise:
    enable: true
  group_order:
    - Entertainment
    - Family/Kids
providers:
  - uri: file://playlist.m3u
    ignore_parse_errors: true
    filters:
      - |
        Group in [
          "Documentaries",
          "Entertainment",
          "Kids",
          "Movies",
          "Music",
          "News",
        ]

    setters:
      - name: replace(Name, " +", " ")
      - Group: Family/Kids
        filters:
          - match(Group, "Kids")
      - name: replace(Name, "^Sometoon Network", "SN")
        filters:
          - match(Name, "^Sometoon Network")
      - id: =bbc.us
        shift: =+3
        filters:
          - Name == "BBC America" && match(Group, "^US |")
epg_providers:
  - uri: file://myepg.xml
